@import url(../resources/resource.css);


.treatments {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    
}
#section-1{
    height: 786px;
}

#treatments {
    background: var(--bglight-color);
    height: 70vh;
    padding: 2rem;
    width: 100%;
    padding-top: 3rem;
    position: relative;
}

.treatments-content {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;

}

.treatments-content-heading {
    width: 100%;
}

.treatments-slider {
    margin-top: 3rem;
}

.slide-image img {
    width: 100%;
    height: 190px;
    transition: transform 0.3s ease-in-out;
}
.slide-image{
    position: relative;
    transition: 0.3s;
}
.slide-image::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bglight-color);
}
.swiper-slide {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    background: #fff;
    height: 420px;
    gap: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-bottom: 5px solid var(--primary-color);
}

.swiper-slide:hover img {
    transform: scale(1.1);
}

.slide-content {
    padding: 2rem;
}

.slide-content p,.therapy-content p {
    height: 90px;
    font-size: clamp(18px, 2vw, 17px);
    text-align: justify;
}

.slide-content h3 {
    font-size: clamp(20px, 1.5vw, 20px);
    font-weight: 700;
}

.slide-content button {
    border: none;
    background: none;
    width: fit-content;
    color: var(--primary-color);
    font-weight: 700;
}

.treatments-content-heading h4, .therapy-heading h4{
    font-size: clamp(15px, 2vw, 17px);
    text-transform: uppercase;
    color: var(--white-text);
    font-weight: 700;

}

.treatments-content-heading h2,.therapy-heading h2 {
    font-size: clamp(28px, 2.2vw, 38px);
    font-weight: 800;
    margin-top: 1rem;
}

.treatments-con p,.therapy-para p  {
    line-height: 2rem;
    text-align: justify;
    font-size: clamp(15px, 1.5vw, 17px);

}

#swiper-button-next,
#swiper-button-prev {
    position: absolute;
    top: 90%;
}

#swiper-button-next button,
#swiper-button-prev button {
    background: var(--bglight-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: clamp(15px, 2vw, 18px);
    outline: none;
    color: var(--primary-color);
}

#swiper-button-next button:hover,
#swiper-button-prev button:hover {
    border: 3px solid var(--primary-color);
}

#swiper-button-next {
    right: 6%;
}

#swiper-button-prev {
    left: 6%;
}


/* therapy slider */
.therapy{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.myswiper-slide{
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  color: var(--white);
}
.myswiper-slide h3{
    font-size: clamp(12px,2vw,18px);
}

.myswiper-slide img{
    background: var(--primary-color);
    width: 60px;
    height: 60px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.therapy-heading{
    width: 100%;
}
.therapy-slider{
    margin-top: 2rem;
}


/*  QUOTE  */

#quote-main-section{
    height: 50vh;
    margin-top: 5rem;
    margin-bottom: 2rem;
    position: relative;
    background: #0b2231c5;
}
#quote-main-section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../../img/services/bg.webp) no-repeat center/cover;
}
.quote-main{
    z-index: 3;
    color: var(--white);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: space-around;
}

.quote-main h2{
    font-size: clamp(28px,4vw,58px);
    font-weight: 800;
    margin-bottom: 3rem;
}
.quote-btn{
    border: 1px solid var(--secondary-color);
    padding: 2px;
}
.quote-btn button{
    padding: 8px 12px;
    font-weight: 600;
    border: none;
    background: var(--secondary-color);
    color: var(--white);
}


 /* special features  */

 .special-features{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .special-fea-heading{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
 }
 .special-fea-heading p{
    background: var(--bglight-color);
    width: fit-content;
    color: var(--primary-color);
    padding: 4px 18px;
    border-radius: 3px;
    font-size: clamp(15px, 2vw, 14px);
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 2rem;
 }
 .special-fea-heading h2{
    font-size: clamp(28px,2.4vw,48px);
    font-weight: 800;
    margin-bottom: 3rem;
    width: 80%;

 }
 .special-fea-con {
    display: flex;
    gap: 2rem;
 }
 .special-fea-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    border: 1px solid var(--white-text);
    text-align: center;
    border-radius: 4px;
 }
 .special-fea-card img{
    width: 80px;
 }
 .special-fea-card h2{
    font-size: clamp(18px,2vw,22px);
    font-weight: 700;
    width: 79%;
 }
 .special-fea-card p{
    color: var(--white-text);
    font-weight: 700;
    font-size: clamp(15px,2vw,17px);

 }


 /* top services */
 #top-services{
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
 }
 .top-services{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;

 }

 .top-services-heading{
    text-align: center;

 }
 .top-services-heading h2{
    font-size: clamp(38px,3vw,48px);
    font-weight: 700;
    color: var(--primary-color);
 }

.top-services-heading h4{
    font-size: clamp(25px,3vw,30px);
    font-weight: 700;
    color: var(--background-color);
    margin-top: 1rem;

}
.top-services-content-list{
    margin-top: 3rem;
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 3rem;
}
.services-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    border: 2px solid var(--primary-color);
    gap: 2rem;
    padding: 1rem;
    border-radius: 5px;
    background: var(--bglight-color);
    box-shadow: 3px 4px 5px rgba(0,0,0,0.2);
    transition: 0.5s;
}
.services-list:hover{
    transform: scale(1.02);
}
.services-list-img img{
    width: 150px;
height: 80px;
    object-fit: cover;
}
.services-list-con h3{
    font-size: clamp(20px,3vw,28px);
    color: var(--background-color);
    font-weight: 600;
}

.services-list-con p{
    font-weight: 600;
}


 @media screen and (max-width:786px) {
    .special-fea-con{
        flex-direction: column;
        padding: 1rem;
    }
    .quote-main{
        flex-direction: column;
    }
    .therapy-content{
        flex-direction: column;
    }
    .therapy{
        padding: 1rem;
    }
    #section-1{
        height: 1100px;
    }
    .treatments-content{
        flex-direction: column;
    }
    #swiper-button-next,
#swiper-button-prev{
    top: 70%;
}
#swiper-button-next{
 right: 0;
}
#swiper-button-prev{
    left: 0;
}

.treatments-slider{
    padding:1rem;
}
#treatments {
    height: fit-content;
}

/* top services */
.top-services-content-list{

grid-template-columns: repeat(1,1fr);

}
.services-list{
    width: 380px;
}

    
 }